<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Proyecto Web KN</title>

    <meta name="description" content="" />

    <!-- Icons. Uncomment required icon fonts -->
    <link href="~/StaticFiles/css/boxicons.css" rel="stylesheet" />
    <link href="~/StaticFiles/css/core.css" rel="stylesheet" />
    <link href="~/StaticFiles/css/demo.css" rel="stylesheet" />
    <link href="~/StaticFiles/css/page-auth.css" rel="stylesheet" />
    <link href="~/StaticFiles/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/StaticFiles/css/theme-default.css" rel="stylesheet" />
    <script src="~/StaticFiles/js/config.js"></script>
    <script src="~/StaticFiles/js/helpers.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        @RenderBody()
    </div>
    <script src="~/StaticFiles/js/jquery.js"></script>
    <script src="~/StaticFiles/js/popper.js"></script>
    <script src="~/StaticFiles/js/perfect-scrollbar.js"></script>
    <script src="~/StaticFiles/js/bootstrap.js"></script>


    <script src="~/StaticFiles/js/menu.js"></script>
    <script src="~/StaticFiles/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
