﻿@model KN_ProyectoWeb.Models.User

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="row">

    <div class="col-xl-1">
    </div>

    <div class="col-xl-10">

        <div class="card mb-4 mt-4">

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-primary text-center">
                    @ViewBag.Mensaje
                </div>
            }

            <h5 class="card-header">Security Information</h5>

            @using (Html.BeginForm("UpdatePassword", "User", FormMethod.Post, new { @id = "SecurityForm" }))
            {
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password" })
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary d-grid w-25" type="submit">Submit</button>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

<script src="~/StaticFiles/js/Security.js"></script>